<!DOCTYPE html>

{% if mapsUrl %}
    {% if trip_nodes %}
        <iframe class="img-thumbnail maps-iframe" width="100%" height="100%" frameborder="0" src="{{ mapsUrl }}" allowfullscreen></iframe>
    {% else %}
        {% if object.lat %}
            <iframe class="img-thumbnail maps-iframe width="100%" height="100%" frameborder="0"  src="{{ mapsUrl }}" allowfullscreen></iframe>
        {% else %}
            There are no coordinates, we cannot display a map!
        {% endif %}
    {% endif %}
{% endif %}