<!DOCTYPE html>

{% load staticfiles %}

<div class="row">
    {% if submitter %}
        <div class="col">
            Submitted by <a href="/placeholdr/user/{{submitter}}">{{submitter}}</a>
        </div>
        <div class='col'>
            {% if user.is_authenticated %}
                {% if following %}
                    <button class="btn btn-primary btn-sm" id="follows" onclick="user_follow('unfollow_user')" value="Unfollow" type="button">Unfollow</button>
                {% elif user.get_username != submitter %}
                    <button class="btn btn-primary btn-sm" id="follows" onclick="user_follow('follow_user')" value="Follow" type="button">Follow</button>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <div class="col">
            Submitted by Placeholdr
        </div>
    {% endif %}

    {% if user.get_username != submitter %}
        <div class="col" id="rep_section">
            <img src="{% static 'images/uprep.png' %}" id="repup" onclick="do_rep(1)">
            <img src="{% static 'images/downrep.png' %}" id="repdown" onclick="do_rep(-1)">
        </div>
    {% endif %}
</div>
{% if submitter %}
    <div id="follow_footer" class="row f_footer">
        <h4>Following {{ submitter }}</h4>
    </div>
{% endif %}