{% extends 'placeholdr/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}
    Search
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/submit_trip.css' %}" />
{% endblock %}

{% block body_block %}
    <div class="container">
		<div class="row spaced">
			<form id="trip_info_form" method="post" action="{% url 'submit_trip' %}"
				enctype="multipart/form-data">
				<input type="hidden" value="" id="slug_holder" name="slug_holder">
				{% csrf_token %}

				<!-- Display each form bootstrapped -->
				{% bootstrap_form trip_form %}
				<button type="submit" class="btn btn-primary" id="register-button" name="submit" value="Submit Trip">Submit Trip</button>
			</form>
			{% if warning %}
				<h3 class="text-danger">{{ warning }}</h3>
			{% endif %}
		</div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
        <div class="row">
            <div class="side-spaced col">
                <h4>Search for places</h4>
                <div class="row spaced search">
                    <div class="col">
                        <input id="searchy" class="form-control mr-sm-2" name="q" type="search" placeholder="Search" onkeyup="search_for_places()" aria-label="Search">
                    </div>
                    <div class="col-xs">
                        <button class="btn btn-outline-success my-2 my-sm-0" onclick="search_for_places()">Search</button>
                    </div>
                </div>
                <div class="row" id="result_section">
                    <div class="col" id="result_section">
                        {% include "placeholdr/psearch_section.html" %}
                    </div>
                </div>
            </div>
            <div class="side-spaced col">
                <h4>Places in trip</h4>
		        <div class="row" id="added_section"></div>
            </div>
		</div>
    </div>
{% endblock %}

{% block js_block %}
	<script src="{% static 'js/add_trip.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
{% endblock %}